*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
}

 /* Nuevo */
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

.imagen {
    float: left;
    padding-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.frase {
    margin-top: 5%;
    width: 50%;
    float: right;
    text-align: center;
    font-size: 30px;
}

.integrantes  {
    /* background: red; */
    padding-top: 1%;
    /* size: 100vw; */
    width: 100%;
    display: inline-flex;
    /* display: block; */
}

.integrante {
    padding: 6% 8%;
    background: white;
    font-size: 25px;
    /* border-radius: 5px; */
}

.integrante a {
    text-decoration: none;
    
}

.integrante:hover {
    background: lightgray;
    
}

#foto {
    width: 50%;
    background: white;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.panel {
    height: 100vh;
}

.panel#principal {
    /*background: #dd9611;*/
    background: #ef9d2b;
}

#integrante1
{
    background-color: red;
}